.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.o
bin/*

# Some standard directories
doc/html/*
doc/latex/*
results/*

tools/plot/doc/html/*
tools/plot/doc/latex/*

tools/auto/auto

# Editor files
*.swp
src/tags
*~
