*sublime*

# Prerequisites
*.d

# Compiled Object files
*.o
bin/*

# Some standard (e.g. Documentation) directories
doc/html/*
doc/latex/*
results/*
vtk

# Editor files
*.swp
src/tags
*~

# Mac OS X
.DS_Store
